<!--Contains the placeholder template for single movie tile-->
<div class="col-sm-5 col-md-4 col-lg-3 movie-tile text-center"
  data-trailer-youtube-id="{movie_trailer}"
  data-toggle="modal" data-target="#trailer">
    <img src="{movie_poster}" width="220" height="342" alt="{movie_title}">
    <div class="tile-overlay">
    <div class="overlay-text">
      <h3 style="color:white">{movie_title}</h3>
      <p>
        {movie_year} | {movie_genre} | Rated: {movie_rating}<br><br>
        Director: {movie_director}<br>
        Cast: {movie_cast}<br>
        <small> Stroyline: {movie_storyline}</small>
      </p>
    </div>
  </div>
</div>